.login-card{
    position: absolute; /* postulat de départ */
    top: 45%;
    width: 500px;
    padding-top: 0px;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
mat-form-field, table{
    width: 95%;
    padding: 5px;
}

@media screen and (max-width:500px) {
    .login-card {
        width: 90%;
    }
}