<section class="flex" id="editor">
  <div *ngIf="editorDisplaying" class="card_editor">
    <div class="header">
      <mat-form-field id="fileNameInput">
        <input matInput [(ngModel)]="currentDoc.title" placeholder="Name" value="">
      </mat-form-field>
      <button mat-button (click)="saveFile()" color="basic">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <mat-progress-bar aria-label="loading" *ngIf="loadingFile" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
      <textarea [(ngModel)]="currentDoc.content"></textarea>
    </div>
    <mat-form-field class="category-list">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip
          *ngFor="let cat of currentCategory"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(cat)">
          {{ cat.name }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Category"
          #catInut
          [formControl]="catCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let catElt of filteredCategory | async" [value]="catElt.name">
          {{ catElt.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
  </div>
  <div [class]="editorDisplaying ? 'card_editor': 'preview_only'" id="preview">
    <div class="header">
      <h2>Preview</h2>
      <div class="switch">
        <mat-slide-toggle [checked]="!editorDisplaying" (change)="editorDisplaying = !editorDisplaying">Hide editor</mat-slide-toggle>
      </div>
    </div>
    <div class="content">
      <ngx-md id="md-preview" [data]="currentDoc.content"></ngx-md>
    </div>
  </div>
</section>