<section class="flex">
  <mat-card class="card_editor">
    <mat-card-header>
      <!--       <mat-card-title>Markdown</mat-card-title>
 -->
      <mat-form-field id="fileNameInput">
        <input matInput [(ngModel)]="currentDoc.title" placeholder="Name" value="">
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <textarea [(ngModel)]="currentDoc.content"></textarea>
    </mat-card-content>
    <button mat-raised-button (click)="saveFile()" color="primary">Save</button>

  </mat-card>
  <mat-card class="card_editor">
    <mat-card-header>
      <mat-card-title>Preview</mat-card-title>
    </mat-card-header>
    <mat-card-content id="markdownPreview">
      <ngx-md id="md-preview" [data]="currentDoc.content"></ngx-md>
    </mat-card-content>
  </mat-card>
</section>